kind: service
name: ${{ values.name }}
description: ${{ values.description }}
lifecycle: development
ownerTeamIds: ${{ values.owners | dump }}
tags:
  - typescript
  - node
  - fastify
metadata:
  annotations:
    github.com/language: TypeScript
