kind: website
name: ${{ values.name }}
description: ${{ values.description }}
lifecycle: development
ownerTeamIds: ${{ values.owners | dump }}
tags:
  - typescript
  - react
  - nextjs
  - fullstack
metadata:
  annotations:
    github.com/language: TypeScript
