import type { ReactNode } from "react";

export const metadata = {
  title: "${{ values.name }}",
  description: "${{ values.description }}",
};

export default function RootLayout({ children }: { children: ReactNode }) {
  return (
    <html lang="en">
      <body>{children}</body>
    </html>
  );
}
