# Database (used by docker-compose and Strapi)
DATABASE_NAME=strapi
DATABASE_USERNAME=strapi
DATABASE_PASSWORD=strapi
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Frontend
VITE_STRAPI_URL=http://localhost:1337
