kind: service
name: ${{ values.name }}
description: ${{ values.description }}
lifecycle: development
tags:
  - typescript
  - cms
  - strapi
  - react
metadata:
  annotations:
    github.com/language: TypeScript
