kind: api
name: ${{ values.name }}
description: ${{ values.description }}
lifecycle: development
ownerTeamIds: ${{ values.owners | dump }}
tags:
  - typescript
  - graphql
  - api
metadata:
  annotations:
    github.com/language: TypeScript
