kind: library
name: ${{ values.name }}
description: ${{ values.description }}
lifecycle: development
tags:
  - typescript
  - library
  - package
metadata:
  annotations:
    github.com/language: TypeScript
