kind: library
name: ${{ values.name }}
description: ${{ values.description }}
lifecycle: development
ownerTeamIds: ${{ values.owners | dump }}
tags:
  - typescript
  - library
  - package
metadata:
  annotations:
    github.com/language: TypeScript
